@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Variables de color */
:root {
  --bg-header: #121417;
  --bg-main: #1a1d21;
  --bg-section: #252a31;
  --bg-section-hover: #252a31e0;

  --text-main: #e6e6e6;
  --text-muted: #b3b3b3;

  --accent-blue: #339dff;
  --accent-orange: #ff8c00e7;
  --accent-green: #6dd58c;
  --accent-yellow: #cbf513;

  --border-soft: #2e333b;
}


body {
  font-family:
    "Source Sans 3", sans-serif;
    background-color: var(--bg-main);
}

header {
    background-color: var(--bg-header);
    border-bottom: 0.5ex solid var(--border-soft);
}

h1 {
    font-size : 3rem;
    color: #FFFF;
}

h2 {
  color: var(--text-main);
  font-weight: 600;
}

main section {
  background-color: var(--bg-section);   
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

main section:hover {
  background-color: var(--bg-section-hover);   
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

li:hover {
    transform: translateX(+2px);
}

a, a:visited {
    color: var(--text-main);
}

header details {
  color: var(--text-muted);
}

.math {
  border-left: 4px solid var(--accent-blue);
  padding: 10px;
  margin-bottom: 15px;
}

.software {
  border-left: 4px solid var(--accent-orange);
  padding: 10px;
  margin-bottom: 15px;
}

li::marker {
  color: var(--text-main);
}

.theory::marker {
  content: "⊨ ";
}

.exercises::marker {
  content: "↦ ";
}

.vert {
  display: flex;
  flex-direction: column;
}

select {
  background-color: var(--bg-header);
  color: var(--text-main);
  border: 1px solid var(--border-soft);
  border-radius: 1ex;
}

select.active {
  border-color: var(--accent-yellow);
  outline:none;
}

#search {
  border: 0.35ex solid var(--border-soft);
  border-radius: 2ex;
  color: var(--text-main);
  background-color: var(--bg-section);
  outline: none;
  transition: border-color 0.2s;
}

#search:focus, #search.active {
  border-color: var(--accent-yellow);
}

#search::-webkit-search-cancel-button {
  color: var(--text-main);
}

.dashboard {
  border: 0.25ex dashed var(--border-soft);
  background-color: var(--bg-section);
  border-radius: 8px;
}