body {
    margin : 0;
    padding : 0;
}

main {
    margin-bottom: 2ex;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(2vw, 2ex, 5vw);
    margin-bottom: 1ex;
}

header div.filters {
    display: flex;
    flex-direction: column;
    row-gap: 2ex;
    margin: 2ex max(calc(20vw - 5em), 5vw) 1ex;
}

.dashboardContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1ex 2ex;
}

#search {
  width: 100%;
  padding: 1ex 2ex;
}

select {
  padding: 0.25ex;
}

.vert > label {
    margin-bottom: 1ex;
}

h1 {
    margin: auto;
}

h2 {
  margin-bottom: 1ex;
}

li:hover {
    transform: translateX(+2px);
}

main section {
    padding: 1vw 2vw;
    margin: 2ex max(calc(20vw - 5em), 5vw) 1ex;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

ul {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2ex;
}

.toggles {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.toggles > button {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

*.toggles svg {
    width: 3ex;
    height: 3ex;
}