@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body {
  font-family:
    "Source Sans 3", sans-serif;
}

header {
    background-color: #0a4875;
}

h1 {
    font-size : 3rem;
    color: #FFFF;
}

h2 {
  color: #0a4875;
  font-weight: 600;
}

body {
  background-color: #e9e9d3;
}

main section {
  background-color: #FFFF;    
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

main section:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

li:hover {
    transform: translateX(+2px);
}

a, a:visited {
    color: #0a4875;
}

header details {
  color: #ffffff;
}

.math {
  /*background-color: #f0f8ff; /* azul muy suave */
  border-left: 4px solid #1e90ff; /* azul más intenso */
  padding: 10px;
  margin-bottom: 15px;
}

.software {
  /*background-color: #fffaf0; /* crema suave */
  border-left: 4px solid #8d5006e7; /* naranja intenso */
  padding: 10px;
  margin-bottom: 15px;
}

.theory::marker {
  content: "⊨ ";
}

.exercises::marker {
  content: "↦ ";
}


#search {
  border: 0.5ex solid #ccc;
  border-radius: 2ex;

  outline: none;
  transition: border-color 0.2s;
}

#search:focus {
  border-color: #cbf513;
}